// ------------------------------------
//    #MIXINS
// ------------------------------------

// Global mixins available to the entire project. Define file-specific
// mixins inside the file to which they relate.

// Mixin to drop micro clearfix into a selector.
//
// .simple-usage {
//   @include clearfix;
// }
//
// .detailed-usage {
//   @include clearfix(important);
// }

@mixin clearfix {
  &::after {
    display: table;
    content: '';
    clear: both;
  }
}

@mixin hover {
  .no-touch &:hover {
    @content;
  }
}

// enable/disable font smoothing
@mixin font-smoothing($toggle: true) {
  @if ($toggle == true) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin font-smoothing-off {
  @include font-smoothing(false);
}
