/* SG
# Tools/Breakpoints

Breakpoints and media query mixins.
*/

@mixin xsmall {
    @media only screen and (max-width: $breakpoint-xsmall) {
        @content;
    }
}

@mixin smallish {
    @media only screen and (min-width: $breakpoint-xsmall) {
        @content;
    }
}

@mixin small {
    @media only screen and (max-width: $breakpoint-small) {
        @content;
    }
}

@mixin medium {
    @media only screen and (min-width: $breakpoint-medium) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: $breakpoint-large) {
        @content;
    }
}

@mixin xlarge {
    @media only screen and (min-width: $breakpoint-xlarge) {
        @content;
    }
}

