/* SG
# Theming/Themes

The default theme goes first. Following themes will override the default.

```
<div class="grid grid--row-spacing grid--col-spacing">
    <div class="t-pink width-1/4@large width-1/2@medium">
        <div class="u-current-bg-color">
            <p>pink</p>
        </div>
        <div>
            <p class="u-current-color">pink</p>
        </div>
    </div>
    <div class="t-green width-1/4@large width-1/2@medium">
        <div class="u-current-bg-color">
            <p>green</p>
        </div>
        <div>
            <p class="u-current-color">green</p>
        </div>
    </div>
    <div class="t-blue width-1/4@large width-1/2@medium">
        <div class="u-current-bg-color">
            <p>blue</p>
        </div>
        <div>
            <p class="u-current-color">blue</p>
        </div>
    </div>
</div>
```
*/

$themes: ('white': (theme-color: $color-white, text-color: $color-black));

@each $alias, $colors in $themes {
  $theme-color: map-get($colors, theme-color);
  $text-color: map-get($colors, text-color);

  .t-#{$alias} {
    .u-current-color {
      color: $theme-color;
    }

    .u-current-color\:hover {
      @include hover {
        color: $theme-color;
      }
    }

    // Only use the --bg modifier when you want to apply background
    // color to the container you have set the theme class on.
    // eg. <div class-"t-green t-green--bg"></div>
    &.t-#{$alias}--bg,
    .u-current-bg-color {
      background-color: $theme-color;
    }

    .u-current-text-color {
      color: $text-color;
      &:after {
        background-color: $text-color;
      }
    }
  }

  .u-color-#{$alias} {
    color: $theme-color;
  }

  .u-link-color-#{$alias} {
    color: $theme-color;
    &:hover {
      color: darken($theme-color, 10%);
    }
  }

  .u-bg-color-#{$alias} {
    background-color: $theme-color;
  }

  .u-text-color-#{$alias} {
    color: $text-color;
  }
}
