// ============================================================================
// Fonts
// ============================================================================

// @font-face {
// 	font-family: 'CrystalSky';
// 	src: url('fonts/crystal-sky.eot');
// 	src: url('fonts/crystal-sky.eot?#iefix') format('embedded-opentype'),
//              url('fonts/crystal-sky.woff2') format('woff2'),
// 	     url('fonts/crystal-sky.woff') format('woff'),
// 	     url('fonts/crystal-sky.ttf') format('truetype'),
// 	     url('fonts/crystal-sky.svg#youworkforthem') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
//     font-family: "Avenir Medium";
//     src: url("fonts/Avenir-Medium.woff") format("woff"),
//         url("fonts/Avenir-Medium.ttf") format("truetype"),
//         url("fonts/Avenir-Medium.svg#linecons") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Avenir Black";
//     src: url("fonts/Avenir-Black.woff") format("woff"),
//       url("fonts/Avenir-Black.ttf") format("truetype"),
//       url("fonts/Avenir-Black.svg#linecons") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }
