@import '../../../common/tools/tools';
@import '../../../common/settings/settings';

.form__group {
    margin-bottom: $spacing-l;
}

.form__item {
    display: inline-block;
    margin-right: 1rem;
}

.form__label {
    font-size: rem(18);
}

.form__error-message {
    color: $color-red;
    margin-top: 0;
}

.form__item--radio,
.form__item--checkbox {
    position: relative;
    display: inline-block;
    margin-right: 1.5rem;
}

.form__input--radio,
.form__input--checkbox {
    opacity: 0;
    margin-right: 0.5rem;
}

.form__input--text,
.form__input--email {
    .form__input {
        display: block;
        margin-top: 0.25rem;
        width: 100%;
        line-height: 1.5;
        padding: 0.25rem 0.5rem;
        @include medium {
            width: 60%;
        }
    }
}

.form__item--checkbox {
    display: block;
    margin-bottom: 0.5rem;
}

.form__item--radio:before,
.form__item--checkbox:before {
    content: '';
    position: absolute;
    left: -2px;
    top: 5px;
    width: 18px;
    height: 18px;
    border: 1px solid #a6a6a6;
    border-radius: 100%;
    background: #fff;
}

.form__item--radio:after,
.form__item--checkbox:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $color-lavendar-grey;
    position: absolute;
    top: 9px;
    left: 2px;
    border-radius: 100%;
    transition: all 0.2s ease;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form__item--checkbox:before,
.form__item--checkbox:after {
    border-radius: 0%;
}

.form__item--checkbox:before {
    top: 4px;
}
.form__item--checkbox:after {
    top: 8px;
}

.form__item--active {
    &:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.form__input--text .form__label {
    display: block;
}

.form__input--nested {
    margin: -0.5rem 0 0.5rem 2rem;
}

.form__button {
    color: #fefeff;
    background-color: $color-lavendar-grey;
    padding: 0.65rem 1.125rem;
    font-family: $font-family-text;
    text-transform: uppercase;
    &:hover {
        background-color: lighten($color-lavendar-grey, 5);
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;
    }
}
