/* SG
# Elements/Headings
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $line-height-headline;
}

h1 {
  font-size: rem(50);
  font-family: $font-family-serif;
  font-weight: normal;
  line-height: 0.7;
  margin-bottom: rem(48);

  @include medium {
    font-size: rem(50);
  }
}

h2 {
  font-size: rem(32);
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-medium;
  margin-bottom: rem(42);
  letter-spacing: 1.5px;

  @include medium {
    font-size: rem(35);
    margin-bottom: rem(40);
  }
}

h3 {
  font-size: rem(24);
  font-weight: 400;
  @include medium {
    font-size: rem(28);
  }
}

h4 {
  font-size: rem(32);
  font-family: $font-family-serif;
  font-weight: 500;
  margin-bottom: $spacing-xs;
  line-height: 1;
  letter-spacing: 1px;
}

h5 {
  font-family: $font-family-sans-serif-bold;
  font-weight: $font-weight-bold;
  font-size: rem(20);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h6 {
  font-family: $font-family-sans-serif-bold;
  font-weight: $font-weight-bold;
  font-size: rem(17);
  margin-bottom: 6px;
  margin-top: $spacing-l;
}
