.content {
    opacity: 0;
    transform: translate(0, 2%);
}

.content--loaded {
    opacity: 1;
    transform: translate(0%);
    transition-delay: 0.25s;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
