.content {
    opacity: 0;
    transform: translate(0, 3%);
}

.content--loaded {
    opacity: 1;
    transform: translate(0%);
    transition-delay: 1s;
    transition: opacity 0.75s ease-in-out, transform 0.5s ease-in-out;
}
