@import '../../../common/tools/tools';
@import '../../../common/settings/settings';

.header {
    position: relative;
}

.header__content {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 8rem;
    // width: 100%;
    // position: absolute;
    // left: 50%;
    // top: 45%;
    // transform: translate(-50%, -50%);
    // text-align: center;
    // @include medium {
    //     top: 50%;
    // }
}

.header__title {
    opacity: 0;
    @include small {
        margin-top: 0.5rem;
        margin-bottom: 4.5rem;
    }
}

.header__intro {
    text-transform: uppercase;
    opacity: 0;

    @include small {
        margin-top: 0;
    }
}

.header__title--loaded,
.header__intro--loaded {
    opacity: 1;
    transition: opacity 0.75s ease-in-out;
}

.header__title--loaded {
    transition-delay: 0.3s;
}

.header__intro--loaded {
    transition-delay: 1s;
}

.header__intro-item {
    display: block;
    margin-bottom: $spacing-s;
    font-size: 1.125rem;
    @include small {
        &:first-of-type {
            &:after {
                content: '';
                height: 1px;
                width: 42px;
                border-bottom: 1px solid $color-black;
                display: block;
                margin: 0 auto;
                padding-top: 0.5rem;
            }
        }
    }
    @include medium {
        display: inline-block;
    }
}

.header__intro-item:first-of-type {
    @include medium {
        &:after {
            content: '|';
            margin-left: $spacing-s;
            margin-right: $spacing-s;
        }
    }
}

.header__image {
    // background-image: url(/assets/images/ccmatt.jpg);
    // height: 600px;
    // background-size: cover;
    // background-position: 50%;
    // @include medium {
    //     background-attachment: fixed;
    //     background-position: top;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     height: 100vh;
    // }
}
