@import '../../../common/settings/settings';

.grid {
    display: grid;
}

.grid--columns-2 {
    grid-template-columns: 1fr 1fr;
}

.grid--row-spacing {
    grid-row-gap: $spacing-l;
}

.grid--column-spacing {
    grid-column-gap: $spacing;
}
