/* SG
# Utilities/Spacinh
*/

.u-mb-0 {
  margin-bottom: 0 !important;
}

.u-space {
  margin-bottom: $spacing !important;
}

.u-spacing-xxs {
  margin-bottom: $spacing-xxs !important;
}

.u-spacingmb-xs {
  margin-bottom: $spacing-xs !important;
}

.u-spacing-s {
  margin-bottom: $spacing-s !important;
}

.u-spacing-l {
  margin-bottom: $spacing-l !important;
}

.u-spacing-xl {
  margin-bottom: $spacing-xl !important;
}
