// text aligns

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-center {
  text-align: center !important;
}

// margin center

.u-margin-center,
.u-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
