// Prevent all user interaction with the element
.u-disabled {
  pointer-events: none !important;
  cursor: default !important;
}

// An accessible label that takes up no visual space
.u-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); // Deprecated but still needed to support Firefox & IE
  border: 0;
  clip-path: inset(1px); // New (experimental) CSS property
}

.u-transition {
  transition: $base-transition !important;
}

// TODO remove these once you don't need

// .app {
//   background-color: $color-dusty-beige;
// }

.color-palette__item {
  span {
    display: block;
    width: 400px;
    height: 100px;
  }
}

.u-color-dusty-blue {
  background-color: $color-dusty-blue;
}
.u-color-dusty-teal {
  background-color: $color-dusty-teal;
}
.u-color-dusty-pink {
  background-color: $color-dusty-pink;
}
.u-color-dusty-peach {
  background-color: $color-dusty-peach;
}
.u-color-dusty-beige {
  background-color: $color-dusty-beige;
}
