@import '../../../common/tools/tools';
@import '../../../common/settings/settings';

.section {
    padding: $spacing;
    max-width: 700px;
    margin: auto;

    @include large {
        padding: 4.5rem;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}
