@import '../../../common/tools/tools';
@import '../../../common/settings/settings';

.section {
    padding: $spacing;
    @include large {
        padding: $spacing-l;
    }
}

.section--no-top {
    padding-top: 0;
}
