@import '../../../common/tools/tools';
@import '../../../common/settings/settings';

.section {
    padding: $spacing;
    @include large {
        padding: $spacing-xl;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

.section--no-top {
    padding-top: 0;
}
