@import '../../../common/tools/tools';
@import '../../../common/settings/settings';

.section {
    padding: $spacing-l 1.5rem;
    margin: auto;

    @include large {
        padding: 2.5rem 4.5rem;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

.section--no-top {
    padding-top: 0;
}

.section--no-bottom {
    padding-bottom: 0;
}

.section--text-length {
    max-width: 800px;
}

.section--top-extra {
    padding-top: $spacing-xl;
    @include medium {
        padding-top: 6rem;
    }
}
