// ============================================================================
// Links
// ============================================================================

a {
  color: $color-lavendar-grey;
  text-decoration: underline;
  transition: color 0.2s;
  &:hover {
    color: darken($color-lavendar-grey, 10%);
  }
}
