/* SG
# Elements/Headings
*/

@import '../settings/_globals.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $line-height-base;
}

h1 {
    font-size: rem(36);
    @include medium {
        font-size: rem(56);
    }
}

h2 {
    font-size: rem(24);
    margin-bottom: $spacing-l;
    text-align: center;
    @include medium {
        font-size: rem(36);
    }
}

h3 {
    font-size: rem(18);
    padding-top: $spacing-l;
    margin-bottom: $spacing;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: $font-weight-light;
    text-align: center;
    @include medium {
        font-size: rem(22);
    }
}

h4 {
    font-size: rem(16);
    letter-spacing: 0.75px;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    @include medium {
        font-size: rem(16);
    }
}

p {
    margin-bottom: $spacing;
}
