/* SG
# Elements/Headings
*/

@import '../settings/_globals.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $line-height-base;
    font-family: $font-family-headings;
}

h1 {
    font-size: rem(36);
    @include medium {
        font-size: rem(56);
    }
}

h2 {
    font-size: rem(24);
    margin-bottom: $spacing-l;
    text-align: center;
    @include medium {
        font-size: rem(36);
    }
}

h3 {
    font-size: rem(18);
    margin-top: $spacing-l;
    margin-bottom: $spacing;
    @include medium {
        font-size: rem(24);
    }
}

h4 {
    font-size: rem(16);
    @include medium {
        font-size: rem(18);
    }
}

p {
    margin-bottom: $spacing;
}
