// ============================================================================
// Site colors
// ============================================================================

//  Brand
// -----------------------------------------------------------------------------
$color-green-dark: #002020;
$color-plum: #490520;
$color-green-light: #506c64;
$color-lavendar-grey: #7A495C;

// Common
// -----------------------------------------------------------------------------
$color-black: #222222;
$color-white: #FEFEFF;
$color-grey-dark: #333;
$color-grey-light: #666;
$color-red: #ff4b4b;

// Page
// -----------------------------------------------------------------------------

// Accesibility
// -----------------------------------------------------------------------------
$color-focus: $color-green-light;
$color-select: $color-green-light;
