// ============================================================================
// Global settings
// ============================================================================

// Fonts
// ----------------------------------------------------------------------------

$font-family-text: 'Quicksand', sans-serif;

$font-size-base: 16;
$line-height-base: 1.5;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

// Spacing
// ----------------------------------------------------------------------------

$spacing: 1rem; // 24px

// Smaller Spacing
$spacing-s: 0.5rem;

// Larger Spacing
$spacing-l: 2rem;
$spacing-xl: 3rem;

// Breakpoints
// ----------------------------------------------------------------------------

$breakpoint-xsmall: 480px;
$breakpoint-small: 767px;
$breakpoint-medium: $breakpoint-small + 1px;
$breakpoint-large: 1000px;
$breakpoint-xlarge: 1300px;
