// ============================================================================
// Global settings
// ============================================================================

// Fonts
// ----------------------------------------------------------------------------

$font-family-text: 'Raleway', sans-serif;
$font-family-headings: 'Open Sans', sans-serif;

$font-size-base: 16;
$line-height-base: 1.5;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

// Spacing
// ----------------------------------------------------------------------------

$spacing: 1.5rem; // 24px

// Smaller Spacing
$spacing-xs: ($spacing - 1);
$spacing-s: ($spacing - 0.5);

// Larger Spacing
$spacing-l: ($spacing + 1.5);
$spacing-xl: ($spacing + 2.5);

// Breakpoints
// ----------------------------------------------------------------------------

$breakpoint-xsmall: 480px;
$breakpoint-small: 767px;
$breakpoint-medium: $breakpoint-small + 1px;
$breakpoint-large: 1000px;
$breakpoint-xlarge: 1300px;
