// --------------------------------------------------
// Buttons
// -------------------------------------------------

// 1. Allow us to style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Make buttons inherit font styles (often necessary when styling `input`s as
//    buttons).
// 4. Reset/normalize some styles.
// 5. Force all button-styled elements to appear clickable.
// 6. Subtract the border size from the padding value so that buttons do not
//    grow larger as we add borders.
// 7. Stop buttons wrapping and looking broken.
// 8. If the button’s text is 1em, and the button is (2.5 * font-size) tall, then
//    there is 1em of space above and below that text. We therefore apply 1em
//    of space to the left and right, as padding, to keep consistent spacing.
// 9. Don’t allow buttons to have underlines; it kinda ruins the illusion.

@mixin btn {
  display: inline-block; // [1]
  position: relative;
  vertical-align: middle; // [2]
  font: inherit; // [3]
  text-decoration: none;
  text-align: center; // [4]
  margin: 0; // [4]
  cursor: pointer; // [5]
  background-color: $color-dusty-blue;
  color: $color-white;
  transition: background-color 0.2s;

  white-space: nowrap; // [7]
  overflow: hidden;
  text-overflow: ellipsis;

  padding-top: 0; // [4]
  padding-right: $spacing-l; // [8]
  padding-bottom: 0; // [4]
  padding-left: $spacing-l; // [8]
  line-height: 2.65; // [8]
  font-weight: $font-weight-normal;

  border-radius: $border-radius;
  box-shadow: none;

  font-family: $font-family-sans-serif;
  font-size: rem(18);
  @include font-smoothing;
  border: none;

  // Ensures that buttons with too much text don't overflow
  // past page width on smaller screens. This ensures text
  // is truncated with no word wrap and text overflow ellipsis
  @include small {
    max-width: 100%;
  }

  &:hover {
    text-decoration: none; // [9]
    background-color: darken($color-dusty-blue, 10%);
    outline: none;
    color: $color-white;
  }

  &[disabled],
  &.is-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5 !important;
  }
}

// Modifiers
// -----------------------------------------------------------------------------

.btn {
  @include btn;
}
