// Form

.form__group {
  margin-bottom: $spacing;
}

.form__item {
  display: inline-block;
  border: 2px solid $color-dusty-pink;
  padding: 1rem;
  min-width: 85px;
  text-align: center;

  margin-right: 1rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.form__item.true {
  background-color: $color-dusty-peach;
}

.form__item--radio,
.form__item--checkbox {
  margin-right: 0;
  border-left: 1px solid $color-black;
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
  border-right: 0;
  &:last-of-type {
    border-right: 1px solid $color-black;
    border-radius: 0 5px 5px 0;
  }
  &:first-of-type {
    border-radius: 5px 0 0 5px;
  }
}

input {
  margin-right: 0.75rem;
}
