// ============================================================================
// Global settings
// ============================================================================

// Fonts
// ----------------------------------------------------------------------------

$font-family-sans-serif: 'Avenir Medium', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-sans-serif-bold: 'Avenir Black', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'CrystalSky', 'Georgia Italic', 'Times New Roman', Times, serif;

$font-size-base: 16;
$line-height-base: 1.5;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

// Spacing
// ----------------------------------------------------------------------------

$spacing: 1.5rem; // 24px

// Smaller Spacing
$spacing-xxs: ($spacing * 0.25); // 6px
$spacing-xs: ($spacing * 0.5); // 12px
$spacing-s: ($spacing - 0.5); // 16px

// Larger Spacing
$spacing-l: ($spacing + 0.5); // 32px
$spacing-xl: ($spacing + 1.5); // 48px
$spacing-xxl: ($spacing + 2.5); // 64px
$spacing-xxxl: ($spacing + 3.75); // 84px

// Breakpoints
// ----------------------------------------------------------------------------

$breakpoint-xsmall: 480px;
$breakpoint-small: 767px;
$breakpoint-medium: $breakpoint-small + 1px;
$breakpoint-large: 1000px;
$breakpoint-xlarge: 1300px;

$max-width: 1100px;
$line-length: 580px;

// Animations/Transitions
// ----------------------------------------------------------------------------

$base-transition: all 0.1s ease-in;

$ease-primary: cubic-bezier(0.51, 0.11, 0.59, 0.92);
$ease-out-primary: cubic-bezier(0.2, 0.42, 0.59, 0.92);
$ease-in-primary: cubic-bezier(0.55, 0.12, 1, 1);

$ease: cubic-bezier(0.43, 0.11, 0.41, 1);
$easing-circ: cubic-bezier(0.075, 0.82, 0.165, 0);

// Other
// ----------------------------------------------------------------------------

$border-radius: 2px;
