// ============================================================================
// Site colors
// ============================================================================

//  Brand
// -----------------------------------------------------------------------------
$color-dusty-blue: #8695a0;
$color-dusty-teal: #9cabae;
$color-dusty-pink: #dfaba2;
$color-dusty-peach: #eacec6;
$color-dusty-beige: #d7cbc1;

// Common
// -----------------------------------------------------------------------------
$color-black: #222222;
$color-white: #fff;
$color-grey-dark: #333;
$color-grey-light: #666;
$color-red: #ff4b4b;

// Page
// -----------------------------------------------------------------------------

// Accesibility
// -----------------------------------------------------------------------------
$color-focus: $color-dusty-teal;
$color-select: $color-dusty-teal;
