/* SG
# Tools/Breakpoints

Breakpoints and media query mixins.
*/
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
.block-item,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: 1.5rem; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child,
  ul:last-child, ol:last-child, dl:last-child,
  blockquote:last-child, p:last-child, address:last-child,
  .block-item:last-child,
  hr:last-child,
  table:last-child,
  fieldset:last-child, figure:last-child,
  pre:last-child {
    margin-bottom: 0; }

ul, ol,
dd {
  margin-left: 1.5rem; }

html {
  font-family: "Avenir Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fff;
  color: #222222;
  -webkit-tap-highlight-color: transparent;
  min-height: 100%; }

body {
  position: relative;
  min-height: 100%;
  font-size: 1rem; }

/* SG
# Elements/Headings
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3; }

h1 {
  font-size: 3.125rem;
  font-family: "CrystalSky", "Georgia Italic", "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 0.7;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 3.125rem; } }

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Avenir Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 2.625rem;
  letter-spacing: 1.5px; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 2.1875rem;
      margin-bottom: 2.5rem; } }

h3 {
  font-size: 1.5rem;
  font-weight: 400; }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 1.75rem; } }

h4 {
  font-size: 5rem;
  font-family: "CrystalSky", "Georgia Italic", "Times New Roman", Times, serif;
  font-weight: 500;
  margin-bottom: 0.75rem;
  line-height: 1;
  letter-spacing: 1px; }

h5 {
  font-family: "Avenir Black", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

h6 {
  font-family: "Avenir Black", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.0625rem;
  margin-bottom: 6px;
  margin-top: 2rem; }

a {
  color: #8695a0;
  text-decoration: underline;
  transition: color 0.2s; }
  a:hover {
    color: #6b7c88; }

/* SG
# Elements/Lists

```
<ul>
	<li>List item one</li>
	<li>List item two</li>
</ul>

<ol>
    <li>List item one</li>
    <li>List item two</li>
</ol>

<dl>
    <dt>Coffee</dt>
    <dd>Black hot drink</dd>
    <dt>Milk</dt>
    <dd>White cold drink</dd>
</dl>
```
*/
li > ul,
li > ol {
  margin-bottom: 0; }

dt {
  font-weight: 600; }

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle; }

img[width],
img[height] {
  max-width: none; }

/* SG
# Objects/ Wrappers
*/
.line-length {
  max-width: 580px; }

.line-length-large {
  max-width: 800px; }

.grid {
  padding: 0;
  list-style: none;
  letter-spacing: -4px; }
  .grid::after {
    display: table;
    content: '';
    clear: both; }
  .grid > * {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    width: 100%;
    letter-spacing: normal;
    text-justify: auto; }

html:not(.flexbox) .grid-flex {
  padding: 0;
  list-style: none;
  letter-spacing: -4px; }
  html:not(.flexbox) .grid-flex::after {
    display: table;
    content: '';
    clear: both; }
  html:not(.flexbox) .grid-flex > * {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    width: 100%;
    letter-spacing: normal;
    text-justify: auto; }

.flexbox .grid-flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch; }
  .flexbox .grid-flex > * {
    width: 100%; }

.grid--row-spacing > * {
  margin-bottom: 3rem; }
  .grid--row-spacing > *:last-child {
    margin-bottom: 0; }

.grid--row-spacing-s > * {
  margin-bottom: 1.5rem; }
  .grid--row-spacing-s > *:last-child {
    margin-bottom: 0; }

.grid--col-spacing {
  margin-left: -2rem; }
  .grid--col-spacing > * {
    padding-left: 2rem; }

/* SG
# Objects/Grid alignment
```
*/
.flexbox .grid--middle {
  align-items: center;
  justify-content: center; }

.grid--middle > * {
  vertical-align: middle !important; }

.flexbox .grid--bottom {
  align-items: flex-end;
  justify-content: flex-end; }

.grid--bottom > * {
  vertical-align: bottom !important; }

/* SG
# Objects/Inline list

```
<ul class="list-inline">
	<li class="list-inline__item">List item one</li>
	<li class="list-inline__item">List item two</li>
</ul>
```
*/
.list-inline {
  margin-left: 0;
  padding: 0;
  list-style: none; }

.list-inline__item {
  display: inline-block; }
  .list-inline__item + .list-inline__item {
    margin-left: 1rem; }

/* SG
# Objects/Unstyled list

```
<ul class="list-unstyled">
	<li>List item one</li>
	<li>List item two</li>
</ul>
```
*/
.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0; }

.btn {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font: inherit;
  text-decoration: none;
  text-align: center;
  margin: 0;
  cursor: pointer;
  background-color: #8695a0;
  color: #fff;
  transition: background-color 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0;
  padding-right: 2rem;
  padding-bottom: 0;
  padding-left: 2rem;
  line-height: 2.65;
  font-weight: 400;
  border-radius: 2px;
  box-shadow: none;
  font-family: "Avenir Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none; }
  @media only screen and (max-width: 767px) {
    .btn {
      max-width: 100%; } }
  .btn:hover {
    text-decoration: none;
    background-color: #6b7c88;
    outline: none;
    color: #fff; }
  .btn[disabled], .btn.is-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5 !important; }

.form__group {
  margin-bottom: 1.5rem; }

.form__item {
  display: inline-block;
  border: 1px solid #222222;
  padding: 1rem;
  min-width: 85px;
  text-align: center;
  border-radius: 5px;
  margin-right: 1rem; }
  .form__item:last-of-type {
    margin-right: 0; }

.form__item--radio {
  margin-right: 0;
  border-left: 1px solid #222222;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  border-right: 0; }
  .form__item--radio:last-of-type {
    border-right: 1px solid #222222;
    border-radius: 0 5px 5px 0; }
  .form__item--radio:first-of-type {
    border-radius: 5px 0 0 5px; }

input {
  margin-right: 0.75rem; }

.nav {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.nav__item {
  text-align: center; }

.header {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  @media only screen and (min-width: 768px) {
    .header {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media only screen and (min-width: 1300px) {
    .header {
      padding-left: 0;
      padding-right: 0; } }
  @media only screen and (min-width: 768px) {
    .header {
      padding-top: 2rem;
      padding-bottom: 2rem; } }

.content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media only screen and (min-width: 768px) {
    .content {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media only screen and (min-width: 1300px) {
    .content {
      padding-left: 0;
      padding-right: 0; } }
  @media only screen and (min-width: 768px) {
    .content {
      padding-top: 4rem;
      padding-bottom: 4rem; } }

.u-disabled {
  pointer-events: none !important;
  cursor: default !important; }

.u-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  clip-path: inset(1px); }

.u-transition {
  transition: all 0.1s ease-in !important; }

/* SG
# Utilities/Align

Here are some utility classes to help modify the vertical alignment, text alignment, margins and floats.

```
<h5>Vertical align</h5>
<div class="u-align-middle">
    <img src="https://placekitten.com/200/150" alt="">
    <img src="https://placekitten.com/200/150" alt="">
</div>
<div>
  <img src="https://placekitten.com/200/150">
  <img src="https://placekitten.com/200/150" class="u-align-bottom">
</div>
<br />

<h5>Text align</h5>

<p class="u-text-left" style="background-color:#eee">Left Text</p>
<p class="u-text-right" style="background-color:#eee">Right Text</p>
<p class="u-text-center" style="background-color:#eee">Centered Text</p>
<br />

<h5>Margin center</h5>
<div class="u-auto">
  <img src="https://placekitten.com/200/150" alt="">
</div>
<div class="u-margin-center">
  <img src="https://placekitten.com/200/150" alt="">
</div>

<h5>Floats</h5>
<div class="u-clear">
    <img class="u-left" src="https://placekitten.com/200/150" alt=""/>
    <img class="u-right" src="https://placekitten.com/200/150" alt=""/>
</div>

```
*/
.u-align-middle {
  vertical-align: middle !important; }

.u-align-bottom {
  vertical-align: bottom !important; }

.u-text-left {
  text-align: left !important; }

.u-text-right {
  text-align: right !important; }

.u-text-center {
  text-align: center !important; }

.u-margin-center,
.u-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.u-left {
  float: left !important; }

.u-right {
  float: right !important; }

.u-clear {
  clear: both !important;
  overflow: hidden; }
  .u-clear::after {
    display: table;
    content: '';
    clear: both; }

/* SG
# Utilities/Margins

```
<div style="background-color:#0F9850">
	<p style="background-color:#efefef" class="u-mb--">mb--</p>
	<p style="background-color:#efefef" class="u-mb-">mb-</p>
	<p style="background-color:#efefef" class="u-mb">mb</p>
	<p style="background-color:#efefef" class="u-mb+">mb+</p>
	<p style="background-color:#efefef" class="u-mb++">mb++</p>
</div>
```
*/
.u-mb-0 {
  margin-bottom: 0 !important; }

.u-mb {
  margin-bottom: 1.5rem !important; }

.u-mb-xxs {
  margin-bottom: 0.375rem !important; }

.u-mb-xs {
  margin-bottom: 0.75rem !important; }

.u-mb-s {
  margin-bottom: 1rem !important; }

.u-mb-l {
  margin-bottom: 2rem !important; }

.u-mb-xl {
  margin-bottom: 3rem !important; }

.u-hidden {
  display: none; }

@media only screen and (max-width: 767px) {
  .u-hidden\@small {
    display: none; } }

@media only screen and (min-width: 768px) {
  .u-hidden\@medium {
    display: none; } }

.touch .u-hidden-touch {
  display: none;
  visibility: hidden; }

.no-touch .u-hidden-no-touch {
  display: none;
  visibility: hidden; }

/* SG
# Utilities/Widths

Helper classes you can use to size grid systems.
For responsive widths, add one of the breakpoint specifiers at the end of the class name:

- `@small`
- `@medium`
- `@large`

```
<div class="grid">
    <div class="width-1/4">
        <p style="border:1px solid green;">width-1/4</p>
    </div>
    <div class="width-1/4">
        <p style="border:1px solid green;">width-1/4</p>
    </div>
    <div class="width-1/2">
        <p style="border:1px solid green;">width-1/2</p>
    </div>
</div>
<div class="grid">
    <div class="width-1/3">
        <p style="border:1px solid green;">width-1/3</p>
    </div>
    <div class="width-2/3">
        <p style="border:1px solid green;">width-2/3</p>
    </div>
</div>
<div class="grid">
    <div class="width-1/10">
        <p style="border:1px solid green;">width-1/10</p>
    </div>
    <div class="width-2/10">
        <p style="border:1px solid green;">width-2/10</p>
    </div>
    <div class="width-3/10">
        <p style="border:1px solid green;">width-3/10</p>
    </div>
    <div class="width-4/10">
        <p style="border:1px solid green;">width-4/10</p>
    </div>
</div>
```
*/
.width-full {
  width: 100% !important; }

.width-1\/2 {
  width: 50% !important; }

.width-1\/3 {
  width: 33.33333% !important; }

.width-2\/3 {
  width: 66.66667% !important; }

.width-1\/4 {
  width: 25% !important; }

.width-2\/4 {
  width: 50% !important; }

.width-3\/4 {
  width: 75% !important; }

.width-1\/10 {
  width: 10% !important; }

.width-2\/10 {
  width: 20% !important; }

.width-3\/10 {
  width: 30% !important; }

.width-4\/10 {
  width: 40% !important; }

.width-5\/10 {
  width: 50% !important; }

.width-6\/10 {
  width: 60% !important; }

.width-7\/10 {
  width: 70% !important; }

.width-8\/10 {
  width: 80% !important; }

.width-9\/10 {
  width: 90% !important; }

@media only screen and (max-width: 767px) {
  .width-full\@small {
    width: 100% !important; }
  .width-1\/2\@small {
    width: 50% !important; }
  .width-1\/3\@small {
    width: 33.33333% !important; }
  .width-2\/3\@small {
    width: 66.66667% !important; }
  .width-1\/4\@small {
    width: 25% !important; }
  .width-2\/4\@small {
    width: 50% !important; }
  .width-3\/4\@small {
    width: 75% !important; }
  .width-1\/10\@small {
    width: 10% !important; }
  .width-2\/10\@small {
    width: 20% !important; }
  .width-3\/10\@small {
    width: 30% !important; }
  .width-4\/10\@small {
    width: 40% !important; }
  .width-5\/10\@small {
    width: 50% !important; }
  .width-6\/10\@small {
    width: 60% !important; }
  .width-7\/10\@small {
    width: 70% !important; }
  .width-8\/10\@small {
    width: 80% !important; }
  .width-9\/10\@small {
    width: 90% !important; } }

@media only screen and (min-width: 768px) {
  .width-full\@medium {
    width: 100% !important; }
  .width-1\/2\@medium {
    width: 50% !important; }
  .width-1\/3\@medium {
    width: 33.33333% !important; }
  .width-2\/3\@medium {
    width: 66.66667% !important; }
  .width-1\/4\@medium {
    width: 25% !important; }
  .width-2\/4\@medium {
    width: 50% !important; }
  .width-3\/4\@medium {
    width: 75% !important; }
  .width-1\/5\@medium {
    width: 20% !important; }
  .width-2\/5\@medium {
    width: 40% !important; }
  .width-3\/5\@medium {
    width: 60% !important; }
  .width-4\/5\@medium {
    width: 80% !important; }
  .width-1\/10\@medium {
    width: 10% !important; }
  .width-2\/10\@medium {
    width: 20% !important; }
  .width-3\/10\@medium {
    width: 30% !important; }
  .width-4\/10\@medium {
    width: 40% !important; }
  .width-5\/10\@medium {
    width: 50% !important; }
  .width-6\/10\@medium {
    width: 60% !important; }
  .width-7\/10\@medium {
    width: 70% !important; }
  .width-8\/10\@medium {
    width: 80% !important; }
  .width-9\/10\@medium {
    width: 90% !important; } }

@media only screen and (min-width: 1000px) {
  .width-full\@large {
    width: 100% !important; }
  .width-1\/2\@large {
    width: 50% !important; }
  .width-1\/3\@large {
    width: 33.33333% !important; }
  .width-2\/3\@large {
    width: 66.66667% !important; }
  .width-1\/4\@large {
    width: 25% !important; }
  .width-2\/4\@large {
    width: 50% !important; }
  .width-3\/4\@large {
    width: 75% !important; }
  .width-1\/10\@large {
    width: 10% !important; }
  .width-2\/10\@large {
    width: 20% !important; }
  .width-3\/10\@large {
    width: 30% !important; }
  .width-4\/10\@large {
    width: 40% !important; }
  .width-5\/10\@large {
    width: 50% !important; }
  .width-6\/10\@large {
    width: 60% !important; }
  .width-7\/10\@large {
    width: 70% !important; }
  .width-8\/10\@large {
    width: 80% !important; }
  .width-9\/10\@large {
    width: 90% !important; } }

/* SG
# Theming/Themes

The default theme goes first. Following themes will override the default.

```
<div class="grid grid--row-spacing grid--col-spacing">
    <div class="t-pink width-1/4@large width-1/2@medium">
        <div class="u-current-bg-color">
            <p>pink</p>
        </div>
        <div>
            <p class="u-current-color">pink</p>
        </div>
    </div>
    <div class="t-green width-1/4@large width-1/2@medium">
        <div class="u-current-bg-color">
            <p>green</p>
        </div>
        <div>
            <p class="u-current-color">green</p>
        </div>
    </div>
    <div class="t-blue width-1/4@large width-1/2@medium">
        <div class="u-current-bg-color">
            <p>blue</p>
        </div>
        <div>
            <p class="u-current-color">blue</p>
        </div>
    </div>
</div>
```
*/
.t-white .u-current-color {
  color: #fff; }

.no-touch .t-white .u-current-color\:hover:hover {
  color: #fff; }

.t-white.t-white--bg,
.t-white .u-current-bg-color {
  background-color: #fff; }

.t-white .u-current-text-color {
  color: #222222; }
  .t-white .u-current-text-color:after {
    background-color: #222222; }

.u-color-white {
  color: #fff; }

.u-link-color-white {
  color: #fff; }
  .u-link-color-white:hover {
    color: #e6e6e6; }

.u-bg-color-white {
  background-color: #fff; }

.u-text-color-white {
  color: #222222; }

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * This file contains only the print styles from the HTML5 Boilerplate
 * project. See <https://github.com/h5bp/html5-boilerplate> for more
 * information on the main project.
 */
/* ==========================================================================
   Print styles.
   ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]::after {
    content: " (" attr(href) ")"; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  a[href^='#']:after,
  a[href^='javascript:']::after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
