@import '../../../../common/tools/tools';
@import '../../../../common/settings/settings';

.landing {
    padding: 2rem 1.5rem 3rem;
    @include medium {
        padding: 4rem 1.5rem 2rem;
        margin: 0 auto;
    }
}

.landing__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.landing__logo {
    max-width: 400px;
    @include large {
        max-width: 500px;
    }
}

.landing__title {
    opacity: 0;
}

.landing__intro {
    text-transform: uppercase;
    opacity: 0;

    @include small {
        margin-top: 0;
    }
}

.landing__title--loaded,
.landing__intro--loaded {
    opacity: 1;
    transition: opacity 0.75s ease-in-out;
}

.landing__title--loaded {
    transition-delay: 0.3s;
}

.landing__intro--loaded {
    transition-delay: 1s;
}

.landing__intro-item {
    display: block;
    margin-bottom: $spacing-s;
    font-size: 1.125rem;
    @include small {
        &:first-of-type {
            &:after {
                content: '';
                height: 1px;
                width: 42px;
                border-bottom: 1px solid $color-black;
                display: block;
                margin: 0 auto;
                padding-top: 0.5rem;
            }
        }
    }
    @include medium {
        display: inline-block;
    }
}

.landing__intro-item:first-of-type {
    @include medium {
        &:after {
            content: '|';
            margin-left: $spacing-s;
            margin-right: $spacing-s;
        }
    }
}
